/.idea/
/.gradle/
/build/
/Database.mv.db
/Database.trace.db
/Database.lock.db
/session_data.db
/src/main/resources/application-local.yml
/Database_new.lock.db
/Database_new.mv.db
/Database_new.trace.db
